<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
                <p>WBS Code:</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-backward"></span> cancel
                </button>
                <button type="button" class="btn btn-primary btn-danger">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> delete
                </button>
            </div>
        </div>
    </div>
</div>