<table class="table table-hover">
    <thead>
    <tr>
        <th>name</th>
        <th>code</th>
        <th>type</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each wbsCode in wbsCodes}}
        {{render 'tablerecord' wbsCode}}
    {{/each}}
    </tbody>
</table>