$icon-font-path: "../styles/fonts/";
// Change the path to the fonts
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

/* Put your CSS here */
html, body {
  margin: 35px 0;
}
.etcFrame {
  border-radius: 5px;
  width: 100%;
  height: 680px;
  overflow: hidden;
}
ul.nav > li {
  cursor: pointer;
}
iframe {
  border: 0;
}
