<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'index' class="navbar-brand"}}WBS Code Lookup{{/link-to}}
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {{#link-to "index" tagName="li" href=false}}
                    <a {{bind-attr href="codes"}}>
                        <span class="glyphicon glyphicon-search"></span> ETC Timesheet
                    </a>
                {{/link-to}}
                {{#link-to "codes" tagName="li" href=false}}
                    <a {{bind-attr href="codes"}}>
                        <span class="glyphicon glyphicon-list"></span> Charge Codes
                    </a>
                {{/link-to}}
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" id="wbsInput" placeholder="wbs charge code search">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-cloud-download"></span> copy
                    </button>
                </div>

            </form>
        </div>
    </div>
</nav>
<main class="container" id="main">
    <div class="row">
        <div class="col-lg-12">
            {{outlet}}
        </div>
    </div>
</main>
