<div class="row">
    <div class="col-lg-4">
        <ul class="nav nav-pills">
            {{#link-to 'codes.prefix' tagName='li' href=false}}
                <a {{bind-attr href='codes.prefix'}}>Courses</a>
            {{/link-to}}
            {{#link-to 'codes.suffix' tagName='li' href=false}}
                <a {{bind-attr href='codes.suffix'}}>Course Modifiers</a>
            {{/link-to}}
            {{#link-to 'codes.single' tagName='li' href=false}}
                <a {{bind-attr href='codes.single'}}>Standalone</a>
            {{/link-to}}
        </ul>
    </div>
    <div class="col-lg-offset-4">
        <button class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> add new code
        </button>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {{outlet}}
    </div>
</div>