<!-- Modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="modalEditTitle">Edit</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="wbsCode">Code</label>
                        <input type="text" class="form-control" id="wbsCode" {{bind-attr value='wbs'}}>
                    </div>
                    <div class="form-group">
                        <label for="wbsName">Description</label>
                        <input type="text" class="form-control" id="wbsName" {{bind-attr value='name'}}>
                    </div>
                    <div class="form-group">
                        <label for="wbsType">Type</label>
                        <select class="form-control" id="wbsType" {{bind-attr value='type'}}>
                            <option>prefix</option>
                            <option>suffix</option>
                            <option>single</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-backward"></span> cancel
                </button>
                <button  {{action 'submit'}} type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-save"></span> save changes
                </button>
            </div>
        </div>
    </div>
</div>