<tr>
    <td>{{wbsCode.name}}</td>
    <td>{{wbsCode.wbs}}</td>
    <td>{{wbsCode.type}}</td>
    <td>
        <button {{action 'wbsEdit'}} class="btn-sm btn-primary" data-toggle="modal" data-target="#modalEdit">
            <span class="glyphicon glyphicon-edit"></span> edit
        </button>
        <button {{action 'wbsDelete'}} class="btn-sm btn-danger" data-toggle="modal" data-target="#modalDelete">
            <span class="glyphicon glyphicon-remove"></span> delete
        </button>
    </td>
</tr>

{{render 'modaledit' wbsCode}}

{{modal-delete}}